<div class="container">

  <div class="bio1">
    <div style="display:inline-block;vertical-align:top;" class="img">
    <img src="../../../assets/img1.JPG" alt="Avatar" style="margin-top: 5px; width:200px;height:180px;" class="imgResp">
    </div >
    <div style="display:inline-block;" class="text">
    <h4><b>Yeison Alexander Rey Sepulveda</b></h4>
    <p>Practicante A&ASOLTIC  & </p>
    <p>Estudiante Ingeniería Sistemas UNAB</p>
    <p>Oriundo de la ciudad de Cúcuta, Norte de Santander,<br>
       el día del natalicio es el 16 de noviembre de 1995.<br>
       Vive en la ciudad de Bucaramanga hace 11 años,<br>
       practica artes marciales y yoga todos los días,<br>
       es selección de Taekwondo en la UNAB<br>
       Le gusta mucho comer y pasear con su perro Zeus.<br>



    </p>
  </div>

  </div>

  <div class="bio2">
    <div style="display:inline-block;vertical-align:top;" class="img">
    <img src="../../../assets/img2.JPG" alt="Avatar" style="margin-top: 5px; width:200px;height:180px;" class="imgResp">
  </div>
  <div style="display:inline-block;" class="text2">
    <h4><b>Carlos Francisco Gonzalez</b></h4>
    <p>Practicante A&ASOLTIC  & </p>
    <p>Estudiante Ingeniería Sistemas UNAB</p>
    <p>residente de la ciudad de Bucaramanga, <br>Colombia.
       busca ser un reconocido informático.<br>
       Apasionado por la tecnología y los negocios.<br>
       Desde pequeño le ha gustado investigar,<br>
       sobre los avances de la tecnología,<br>comprende como con el pasar de los años,<br>
       ha transformando el mundo.<br>
       Sus pasatiempos favoritos son la musica, leer, <br>escribir, programar y jugar voleibol.









    </p>
  </div>

  </div>

</div>
