

.sectCont{
    text-align: center;
    height: 100hv;
    }
.stuCont{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  //height: 100hv;
}
.container{
  margin: auto;
  margin-bottom: 0;


}
.logo{
  margin-bottom: 25px;
  margin-top: 35px;
}

  .carda{
    text-align: center;
    width: 350px;
    height: 330px;
    //margin-left: 300px;
    color: black;
    background: inherit;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
  }

  .cardb{
    width: 350px;
    height: 330px;
    //margin-left: 755px;
    text-align: center;
    color: black;
    background: inherit;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;

  }
  .imgResp{
    margin-top: 5px; width:200px;height:180px;
  }




  @media screen and (max-width: 880px)
  {
    .sectCont{
      width: 55vw;
      display: block;
      margin: auto;
      margin-bottom: 2em;
    }
    .imgResp{
      width: 100;
      height: 100;
    }

    .stuCont{
      max-width: 55vw;
      margin-bottom: 2em;
      height: auto;
      margin: auto;
      display: block;
    }

    .container{
      position: relative;
      float: none;
      width: auto;
      height: auto;
    }
    .carda{width: 55vw;
      height: auto;
      display: block;
      margin: auto;
      margin-bottom: 3em;}
    .cardb{width: 55vw;
      display: block;
      margin: auto;
      height: auto;
      margin-bottom: 3em;}
  }
  .logo{
    max-height: auto;
    max-width: auto;
  }

