

<div class="container">
<section class="sectCont" style="text-align: center;" >
  <div class="logo">
    <img src="../../assets/LOGO.png" alt="marvelOGO" style="width: 180px; height: 105px;  border-width: 55px; border-color: black;">
  </div>
    <div class="stuCont">


      <div class="carda">
        <img src="../../../assets/img1.JPG" alt="Avatar" class="imgResp">
        <h4><b>Yeison Alexander Rey Sepulveda</b></h4>
        <p>Practicante A&ASOLTIC  & </p>
        <p>Estudiante Ingeniería Sistemas UNAB</p>
      </div>

      <div class="cardb">
        <img src="../../../assets/img2.JPG" alt="Avatar" style="margin-top: 5px; width:200px;height:180px;">
        <h4><b>Carlos Francisco Gonzalez</b></h4>
        <p>Practicante A&ASOLTIC  & </p>
        <p>Estudiante Ingeniería Sistemas UNAB</p>
      </div>
    </div>
      <div>
      <img src="../../../assets/unab.png" alt="" style="width: 180px; height:200px">
      <p style="color: black;">Prácticas semestre II 2020</p>
    </div>






</section>
</div>
